<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body style="margin: 0px;background-color: #efefef;font-family: Helvetica,Arial,sans-serif;font-size: 14px;line-height: 23px;border-collapse: collapse;">
<div style="font-family:arial,helvetica,sans-serif;margin: auto;width: 900px;background-color:white;padding: 30px 40px 30px 40px;">
    <div>

        <div style="
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 29px;
    color: #02a3d5;
    font-weight: bolder;
     padding-top: 12px;
">UI PERFORMANCE NOTIFICATION
        </div>


        <div style="border-bottom: 2px solid #02a3d5;margin: 25px 0px 35px 0px;"></div>

        <h2 style="color: #02a3d5;">Test Execution Summary:</h2>
        <table style="border-spacing: 10px; width: 100%;">
            <tr>
                <td style="vertical-align:top">
                    <b style="color: #02a3d5;">Scenario:</b> {{ t_params.scenario }} <br/>
                    <b style="color: #02a3d5;">Status:</b> {{ t_params.status }}<br/>
                    <b style="color: #02a3d5;">Duration:</b> {{ t_params.duration }} s <br/>
                    <b style="color: #02a3d5;">Env:</b> {{ t_params.env }} <br/>
                </td>
                <td style="vertical-align:top">
                    <b style="color: #02a3d5;">Start time:</b> {{ t_params.start_time }} <br/>
                    <b style="color: #02a3d5;">Browser:</b> {{ t_params.browser }} <br/>
                    <b style="color: #02a3d5;">View port:</b> {{ t_params.view_port }} <br/>
                    <b style="color: #02a3d5;">Version:</b> {{ t_params.version }} <br/>
                    <b style="color: #02a3d5;">Base URL:</b> {{ t_params.base_url }} <br/>
                </td>
            </tr>
        </table>

        <div>
            <h2 style="font-size: 16px; color: #02a3d5;">Results summary table</h2>

<!--            <table style="font-family: Helvetica,Arial,sans-serif;font-size: 14px;line-height: 23px;border-collapse: collapse; width: 100%;">-->
<!--                <thead style="background-color: #dcdbdb;">-->

<!--                <th>Page name</th>-->
<!--                <th>Page count</th>-->
<!--                <th>Errors</th>-->
<!--                <th>Latency, sec</th>-->
<!--                <th>Transfer, sec</th>-->
<!--                <th>tti, sec</th>-->
<!--                <th>ttl, sec</th>-->
<!--                <th>total_time, sec</th>-->
<!--                </thead>-->
<!--                {% for request in summary %}-->
<!--                <tr align="center">-->
<!--                    <td>{{ request.request_name }}</td>-->
<!--                    <td>{{ request.count }}</td>-->
<!--                    <td>{{ request.failed }}</td>-->
<!--                    <td>{{ request.latency }}</td>-->
<!--                    <td>{{ request.transfer }}</td>-->
<!--                    <td>{{ request.tti }}</td>-->
<!--                    <td>{{ request.ttl }}</td>-->
<!--                    <td style="color:{{ request.time_threshold }}">{{ request.total_time }}</td>-->
<!--                </tr>-->
<!--                {% endfor %}-->
<!--            </table>-->
        </div>

<!--        {% if comparison|length != 1 %}-->
<!--        <h2 style="font-size: 16px; color: #02a3d5;">Success Rate</h2>-->
<!--        <img src="cid:success_rate" style="width:900px;height:270px;">-->
<!--        <h2 style="font-size: 16px; color: #02a3d5;">Page load time summary</h2>-->
<!--        <img src="cid:comparison" style="width:900px;height:270px;">-->
<!--        {% endif %}-->

<!--        <div style="border-bottom: 2px solid #02a3d5;margin: 30px 0px 15px 0px;"></div>-->
<!--        <p style="font-size: 11px; line-height: 12px; color: #666; margin: .2em 0; padding: 0;">-->
<!--            Auto generated performance test run report-->
<!--        </p>-->

<!--        <p style="font-size: 10px; line-height: 12px; color: #999; margin: .2em 0; padding: 0;">-->
<!--            (c) 2019 Carrier.-->
<!--        </p>-->

    </div>
</div>

</body>
</html>